In [9]:
import sqlite3

con = sqlite3.connect("empresa.db")

cur = con.cursor()

cur.execute("CREATE TABLE Funcionarios (id INTEGER PRIMARY KEY, nome text, cargo text, salario real)")
#verificar se a tabela foi criada
res=cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(res.fetchone())


#maneira mais prática que achei de inserir dados grandes
dados_funcionarios=[
    (1, 'Ana Silva', 'Gerente', 3000.00),
    (2, 'Bruno Costa', 'Analista', 2500.00),
    (3, 'Carla Souza', 'Desenvolvedor', 2700.00),
    (4, 'Daniel Pereira', 'Designer', 2200.00),
    (5, 'Eduarda Lima', 'Vendedora', 1800.00),
    (6, 'Fernando Rocha', 'Supervisor', 2800.00),
    (7, 'Gabriela Duarte', 'Assistente', 1500.00),
    (8, 'Henrique Almeida', 'Contador', 2600.00),
    (9, 'Isabela Martins', 'RH', 2400.00),
    (10, 'João Victor', 'TI', 2900.00)
]

cur.executemany("INSERT INTO Funcionarios (id, nome, cargo, salario) VALUES (?, ?, ?, ?)", dados_funcionarios)

con.commit()

con.close()

('Funcionarios',)

In [19]:
import sqlite3

conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()


cursor.execute('''    UPDATE Funcionarios SET salario = salario * 1.10 WHERE id IN (1, 2, 3); ''')

conn.commit()

conn.close()

In [23]:
import sqlite3

conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()


cursor.execute('''  DELETE FROM Funcionarios WHERE id = 4; ''')

conn.commit()

conn.close()

In [25]:
import sqlite3

conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM Funcionarios ORDER BY salario')
resultados = cursor.fetchall()
for linha in resultados:
    print(linha)

conn.close()

(7, 'Gabriela Duarte', 'Assistente', 1500.0)
(5, 'Eduarda Lima', 'Vendedora', 1800.0)
(9, 'Isabela Martins', 'RH', 2400.0)
(8, 'Henrique Almeida', 'Contador', 2600.0)
(2, 'Bruno Costa', 'Analista', 2750.0)
(6, 'Fernando Rocha', 'Supervisor', 2800.0)
(10, 'João Victor', 'TI', 2900.0)
(3, 'Carla Souza', 'Desenvolvedor', 2970.0000000000005)
(1, 'Ana Silva', 'Gerente', 3300.0000000000005)

In [27]:
import sqlite3

conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

cursor.execute(''' 
SELECT cargo, MIN(salario) AS salario_minimo, 
Max(salario) AS salario_maximo, AVG(salario) AS salario_medio 
FROM Funcionarios GROUP BY cargo ORDER BY salario_medio DESC''')

disparidades = cursor.fetchall()
print("\nDisparidades salariais entre cargos:")
for linha in disparidades:
    print(linha)

conn.close()

Disparidades salariais entre cargos:
('Gerente', 3300.0000000000005, 3300.0000000000005, 3300.0000000000005)
('Desenvolvedor', 2970.0000000000005, 2970.0000000000005, 2970.0000000000005)
('TI', 2900.0, 2900.0, 2900.0)
('Supervisor', 2800.0, 2800.0, 2800.0)
('Analista', 2750.0, 2750.0, 2750.0)
('Contador', 2600.0, 2600.0, 2600.0)
('RH', 2400.0, 2400.0, 2400.0)
('Vendedora', 1800.0, 1800.0, 1800.0)
('Assistente', 1500.0, 1500.0, 1500.0)

In [33]:
import sqlite3

conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()


#AVG(salario) faz o calculo do salario medio e guardar em Funcionarios ele agrupa os cargos com GROUP e lista os salarios medio em ordem descente com DESC e aparece apenas um por conta do LIMIT 1
cursor.execute('''
SELECT cargo, AVG(salario) as salario_medio
FROM Funcionarios GROUP BY cargo ORDER BY salario_medio DESC
LIMIT 1
''')
maior_salario_medio = cursor.fetchone()
print("\nCargo com maior salário médio>", maior_salario_medio)

cursor.execute('''
SELECT cargo, AVG(salario) as salario_medio
FROM Funcionarios GROUP BY cargo ORDER BY salario_medio ASC
LIMIT 1
''')
menor_salario_medio = cursor.fetchone()
print("\nCargo com menor salário médio>", menor_salario_medio)

conn.close()

Cargo com maior salário médio> ('Gerente', 3300.0000000000005)

Cargo com menor salário médio> ('Assistente', 1500.0)

In [41]:
import sqlite3

conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

#CONT(*) conta quantos funcionarios tem em cada cargo e coloca em quantidade_funcionarios, avg(salario) calcula a media e depois e ordenado em ordem descente...
cursor.execute('''
SELECT cargo, COUNT(*) AS quantidade_funcionarios, AVG(salario) AS salario_medio
FROM Funcionarios GROUP BY cargo ORDER BY quantidade_funcionarios DESC
''')

quantidade_por_cargo = cursor.fetchall()
print("\nQuantidade de funcionários e salário médio por cargo:")
for linha in quantidade_por_cargo:
    print(linha)

conn.close()

Quantidade de funcionários e salário médio por cargo:
('Vendedora', 1, 1800.0)
('TI', 1, 2900.0)
('Supervisor', 1, 2800.0)
('RH', 1, 2400.0)
('Gerente', 1, 3300.0000000000005)
('Desenvolvedor', 1, 2970.0000000000005)
('Contador', 1, 2600.0)
('Assistente', 1, 1500.0)
('Analista', 1, 2750.0)

In [55]:
import sqlite3

conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

#aproveitando os filtros que fiz ,[0] cargo,[1] o menor salario, [2] o maior salario, [3] o salario médio 
print("\nDisparidade salarial por cargo:")
for linha in disparidades:
    print(f"Cargo: {linha[0]}, Salário Mínimo: {linha[1]}, Salário Máximo: {linha[2]}, Salário Médio: {linha[3]}")

print("\nCargo com MAIOR salário médio:")
print(f"Cargo: {maior_salario_medio[0]}, Salário Médio: {maior_salario_medio[1]}")

print("\nCargo com MENOR salário médio:")
print(f"Cargo: {menor_salario_medio[0]}, Salário Médio: {menor_salario_medio[1]}")

print("\nQuantidade de funcionários por cargo:")
for linha in quantidade_por_cargo:
    print(f"Cargo: {linha[0]}, Quantidade: {linha[1]}, Salário Médio: {linha[2]}")

conn.close()

Disparidade salarial por cargo:
Cargo: Gerente, Salário Mínimo: 3300.0000000000005, Salário Máximo: 3300.0000000000005, Salário Médio: 3300.0000000000005
Cargo: Desenvolvedor, Salário Mínimo: 2970.0000000000005, Salário Máximo: 2970.0000000000005, Salário Médio: 2970.0000000000005
Cargo: TI, Salário Mínimo: 2900.0, Salário Máximo: 2900.0, Salário Médio: 2900.0
Cargo: Supervisor, Salário Mínimo: 2800.0, Salário Máximo: 2800.0, Salário Médio: 2800.0
Cargo: Analista, Salário Mínimo: 2750.0, Salário Máximo: 2750.0, Salário Médio: 2750.0
Cargo: Contador, Salário Mínimo: 2600.0, Salário Máximo: 2600.0, Salário Médio: 2600.0
Cargo: RH, Salário Mínimo: 2400.0, Salário Máximo: 2400.0, Salário Médio: 2400.0
Cargo: Vendedora, Salário Mínimo: 1800.0, Salário Máximo: 1800.0, Salário Médio: 1800.0
Cargo: Assistente, Salário Mínimo: 1500.0, Salário Máximo: 1500.0, Salário Médio: 1500.0

Cargo com MAIOR salário médio:
Cargo: Gerente, Salário Médio: 3300.0000000000005

Cargo com MENOR salário médio:
Cargo: Assistente, Salário Médio: 1500.0

Quantidade de funcionários por cargo:
Cargo: Vendedora, Quantidade: 1, Salário Médio: 1800.0
Cargo: TI, Quantidade: 1, Salário Médio: 2900.0
Cargo: Supervisor, Quantidade: 1, Salário Médio: 2800.0
Cargo: RH, Quantidade: 1, Salário Médio: 2400.0
Cargo: Gerente, Quantidade: 1, Salário Médio: 3300.0000000000005
Cargo: Desenvolvedor, Quantidade: 1, Salário Médio: 2970.0000000000005
Cargo: Contador, Quantidade: 1, Salário Médio: 2600.0
Cargo: Assistente, Quantidade: 1, Salário Médio: 1500.0
Cargo: Analista, Quantidade: 1, Salário Médio: 2750.0

In [71]:
import sqlite3

conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE Projetos (
    id_projeto INTEGER PRIMARY KEY,
    nome_projeto TEXT,
    funcionario_id INTEGER,
    FOREIGN KEY (funcionario_id) REFERENCES Funcionarios(id))''')


conn.close()

In [77]:
import sqlite3


con = sqlite3.connect('empresa.db')
cursor = con.cursor()


dados_projetos = [
    (1, 'Projeto Alpha', 1),
    (2, 'Projeto Beta', 2),
    (3, 'Projeto Gama', 3),
    (4, 'Projeto Delta', 5),
    (5, 'Projeto Exper', 6)
]

cursor.executemany("INSERT INTO Projetos (id_projeto, nome_projeto, funcionario_id) VALUES (?, ?, ?)", dados_projetos)


con.commit()
con.close()

In [85]:
import sqlite3

conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

cursor.execute('''
SELECT Funcionarios.nome AS Nome_Funcionario, 
Projetos.nome_projeto AS Nome_Projeto FROM Funcionarios
JOIN Projetos ON Funcionarios.id = Projetos.funcionario_id;
''')

resultados = cursor.fetchall()

for linha in resultados:
    print(f"Funcionário: {linha[0]} - Projeto: {linha[1]}")

conn.close()

Funcionário: Ana Silva - Projeto: Projeto Alpha
Funcionário: Bruno Costa - Projeto: Projeto Beta
Funcionário: Carla Souza - Projeto: Projeto Gama
Funcionário: Eduarda Lima - Projeto: Projeto Delta
Funcionário: Fernando Rocha - Projeto: Projeto Exper